@mixin typography {
  display: block;
  max-width: 100vw;
  line-height: 1.15;
  color: base.colors('font');
  word-wrap: break-word;

  // Extra
  white-space: pre-line;
}

.h1 {
  @include typography;

  font-size: base.type-scale('h1');
  font-weight: base.type-weight('h1');
}

.h2 {
  @include typography;

  font-size: base.type-scale('h2');
  font-weight: base.type-weight('h2');
}

.h3 {
  @include typography;

  font-size: base.type-scale('h3');
  font-weight: base.type-weight('h3');
}

.h4 {
  @include typography;

  font-size: base.type-scale('h4');
  font-weight: base.type-weight('h4');
}
