.layout {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0 auto;
    padding: {
      right: base.pix-to-rem(16);
      bottom: 5vh;
      left: base.pix-to-rem(16);
    }
  }

  .footer {
    min-height: 10vh;
  }
}
