.footer {
  padding: 3em 5em 1em;
  font-size: functions.type-scale('body');
  font-weight: functions.type-weight('body');
  color: functions.colors('white');
  background-color: functions.colors('inverted');
}

.copy {
  padding: functions.type-scale('body') 0;
  margin-top: functions.type-scale('body');
  font-size: functions.type-scale('caption');
  font-weight: functions.type-weight('caption');
  text-align: center;
  border-top: 1px solid functions.colors('whiteAlpha');
}

.rowMobile {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 2em;

  &:not(:first-of-type) {
    margin-top: functions.pix-to-rem(8);
  }

  > dt {
    flex: 1 1 100%;
  }
}
