@mixin structure {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  padding: 0.1em;
  line-height: 1.2;
}

@mixin skin($_color) {
  color: $_color;
  text-decoration: underline;
  word-wrap: break-word;
  overflow-wrap: break-word;

  // Extra
  white-space: pre-line;
  border-radius: functions.pix-to-rem(4);
  transition: transform 0.1s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    text-decoration: none;
    transform: scale(1.1);
  }
}

@mixin link($_color) {
  @include structure;
  @include skin($_color);
}

// Style Instance ===============
.green {
  @include link(#{functions.colors('green')});
}

.grey {
  @include link(#{functions.colors('inverted')});
}

.white {
  @include link(#{functions.colors('white')});
}
