// Global
// Mixin: Media Query

// Global Vars for Media Query List
$mql-mobile:
  "(max-width: #{screens('small')})";

$mql-tablet:
  "(min-width: #{screens('small') + 1px})"
  "and (max-width: #{screens('large')})";

$mql-desktop:
  "(min-width: #{screens('large') + 1px})";

@mixin responsive($device: sp) {
  // for Mobile, SmartPhone
  @if $device == sp {
    @media #{$mql-mobile} {
      @content;
    }
  }

  // for Tablet
  @else if $device == tablet {
    @media #{$mql-tablet} {
      @content;
    }
  }

  // for Desktop
  @else {
    @media #{$mql-desktop} {
      @content;
    }
  }
}
