.footer {
  padding: 3em 5em 1em;
  font-size: base.type-scale('body');
  font-weight: base.type-weight('body');
  color: base.colors('white');
  background-color: base.colors('inverted');
}

.copy {
  padding: base.type-scale('body') 0;
  margin-top: base.type-scale('body');
  font-size: base.type-scale('caption');
  font-weight: base.type-weight('caption');
  text-align: center;
  border-top: 1px solid base.colors('whiteAlpha');
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 2em;

  &:not(:first-of-type) {
    margin-top: base.pix-to-rem(4);
  }

  > dt {
    flex: 0 0 8em;
  }

  > dd {
    flex: 1 1 100%;
  }
}
