@mixin _structure {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: pix2rem(160);
  max-width: 90vw;
  min-height: pix2rem(48);
  padding: pix2rem(8) pix2rem(16);
  line-height: 1.2;
}

@mixin _skin($_color) {
  color: $_color;
  text-decoration: none;
  word-wrap: break-word;
  overflow-wrap: break-word;

  // Extra
  white-space: pre-line;
  border: 1px solid $_color;
  border-radius: pix2rem(4);

  &:hover {
    color: white;
    background-color: $_color;
  }
}

@mixin _button($_color) {
  @include _structure;
  @include _skin($_color);
}

// Style Instance ===============
.buttonGreen {
  @include _button(#3b8070);
}

.buttonGrey {
  @include _button(#35495e);
}
