@mixin structure {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: pix-to-rem(160);
  max-width: 90vw;
  min-height: pix-to-rem(48);
  padding: pix-to-rem(8) pix-to-rem(16);
  line-height: 1.2;
}

@mixin skin($_color) {
  color: $_color;
  text-decoration: none;
  word-wrap: break-word;
  overflow-wrap: break-word;

  // Extra
  white-space: pre-line;
  border: 1px solid $_color;
  border-radius: pix-to-rem(4);

  &:hover {
    color: white;
    background-color: $_color;
  }
}

@mixin button($_color) {
  @include structure;
  @include skin($_color);
}

// Style Instance ===============
.buttonGreen {
  @include button(#3b8070);
}

.buttonGrey {
  @include button(#35495e);
}
