.root {
  background-color: colors('background');
}

@mixin flash-animation {
  $in-cubic: cubic-bezier(0.55, 0.06, 0.68, 0.19);

  animation-duration: 1.5s;
  animation-play-state: running;
  animation-timing-function: $in-cubic;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: none;
}

@keyframes flashA {
  0% {
    background-color: colors('background');
  }

  100% {
    background-color: burlywood;
  }
}

@keyframes flashB {
  0% {
    background-color: colors('background');
  }

  100% {
    background-color: burlywood;
  }
}

.isDesktop {
  @include flash-animation;

  animation-name: flashA;
}

.isTablet {
  @include flash-animation;

  animation-name: flashB;
}

.isMobile {
  @include flash-animation;

  animation-name: flashA;
}
