.wrapper {
  display: block;

  .listItem {
    position: relative;
    padding: {
      left: 1.2em;
    }

    font-size: functions.type-scale('subtitle');
    font-weight: functions.type-weight('subtitle');

    &.isActive {
      color: functions.colors('accent');
    }

    .icon {
      position: absolute;
      left: 0;
    }
  }
}
