.wrapper {
  display: block;

  .listItem {
    position: relative;
    padding: {
      left: 1.2em;
    }

    font-size: typescale('subtitle');
    font-weight: typeweight('subtitle');

    &.isActive {
      color: colors('accent');
    }

    .icon {
      position: absolute;
      left: 0;
    }
  }
}
