.wrapper {
  display: block;

  .listItem {
    position: relative;
    font-size: base.type-scale('subtitle');
    font-weight: base.type-weight('subtitle');
    text-transform: uppercase;
    padding: {
      left: 1.2em;
    }

    &.isActive {
      color: base.colors('accent');
    }

    .icon {
      position: absolute;
      left: 0;
    }
  }
}
